# fly.toml app configuration file generated for valo-verifier on 2025-12-05T17:34:45-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'valo-verifier'
primary_region = 'iad'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[[mounts]]
  source = 'app_data'
  destination = '/app/data'
  initial_size = '10gb'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/'

[[vm]]
  size = 'shared-cpu-2x'
  memory = '2gb'
  cpus = 2
